
.filter-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .filter-panel input[type="text"] {
    width: 40%;
    padding: 6px;
    margin-left: 10%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .filter-panel input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
  }
  
  .filter-panel select {
    width: 35%;
    margin-right: auto;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .filter-panel select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
  }
  